---
import { ghost } from "@/lib/ghost.ts";
import BaseHead from "@/components/BaseHead.astro";
import BlogHeader from "@/components/header/BlogHeader.astro";
import type {
  GetStaticPaths,
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro";
import { SUPPORTED_LANGUAGES } from "@/lib/language";
import Footer from "@/components/Footer.astro";
import SearchDaemon from "@/components/SearchDaemon.astro";
import GhostPost from "@/components/GhostPost.astro";
import { highlightGhostHTML } from "@/lib/highlight";
import ArticleHead from "@/components/ArticleHead.astro";

export const getStaticPaths = (async () => {
  const langs = Object.values(SUPPORTED_LANGUAGES);

  const posts = await Promise.all(langs.map(async (lang) => {
    const langPosts = await ghost.posts.browse({
      limit: 100,
      filter: `tag:${lang}`,
    });

    if (!langPosts) {
      throw new Error("Post not found");
    }

    return langPosts.map((post) => {
      return {
        params: {
          lang: lang,
          slug: post.slug.replace(`${lang}-`, ""),
        },
        props: {
          post: post,
        },
      };
    });
  })).then((res) => res.flat());

  return posts;
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props;
const highlightedHTML = await highlightGhostHTML(post.html || "");
---

<html lang={Astro.params.lang}>
  <head>
    <BaseHead
      title={post.title!}
      description={post.excerpt!}
      ogImageUrl={post.feature_image || undefined}
      lang={Astro.params.lang}
    />
  </head>

  <body>
    <BlogHeader lang={Astro.params.lang} />
    <main class="w-full max-w-full p-0">
      <article>
        <img
          class="w-full max-w-full aspect-21/9 object-cover"
          src={post.feature_image}
        />
        <div class="max-w-[720px] m-auto">
          <ArticleHead
            class:list="mt-4"
            lang={Astro.params.lang}
            createdAt={post.published_at!}
            updatedAt={post.updated_at}
            title={post.title!}
          />
          <GhostPost>
            <Fragment set:html={highlightedHTML} />
          </GhostPost>
          <div class="mt-16">
            <script
              src="https://giscus.app/client.js"
              data-repo="winetree94/winetree94.com"
              data-repo-id="R_kgDOMQZteg"
              data-category="Announcements"
              data-category-id="DIC_kwDOMQZtes4Cg0or"
              data-mapping={Astro.url.pathname}
              data-strict="1"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="bottom"
              data-theme="light"
              data-lang={Astro.params.lang}
              crossorigin="anonymous"
              async></script>
          </div>
        </div>
      </article>
    </main>
    <Footer />
    <SearchDaemon />
  </body>
</html>
