---
import BaseHead from "@/components/BaseHead.astro";
import BlogHeader from "@/components/header/BlogHeader.astro";
import type {
  GetStaticPaths,
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro";
import { ghost } from "@/lib/ghost.ts";
import { SUPPORTED_LANGUAGES } from "@/lib/language";
import { useTranslation } from "@/i18n/utils";
import Footer from "@/components/Footer.astro";
import SearchDaemon from "@/components/SearchDaemon.astro";
import TextDate from "@/components/TextDate.astro";

export const getStaticPaths = (async () => {
  const res = await Promise.all(
    Object.values(SUPPORTED_LANGUAGES).map(async (lang) => {
      const posts = await ghost.posts.browse({
        limit: 100,
        filter: `tag:${lang}+tag:project`,
      });
      return {
        params: {
          lang: lang,
        },
        props: {
          posts: posts,
        },
      };
    })
  );
  return res.flat();
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const t = useTranslation(Astro.params.lang);
---

<html lang={Astro.params.lang}>
  <head title="ds">
    <BaseHead
      title={"title"}
      description={"description"}
      lang={Astro.params.lang}
    />
  </head>
  <body>
    <BlogHeader lang={Astro.params.lang} />
    <main class="w-full p-8 flex justify-center">
      <article class="flex flex-col max-w-[720px] w-full">
        <div class="flex flex-col">
          <div class="p-8 flex flex-col justify-center items-center mb-8">
            <h4 class="text-center">{t("projects.title")}</h4>
            <p class="mt-4 text-center">
              {t("projects.description")}
            </p>
          </div>
          {
            Astro.props.posts.length ? (
              <ul class="flex flex-wrap gap-8 list-none">
                {Astro.props.posts.map((post) => (
                  <li class="w-full sm:w-[calc(50%-1rem)]">
                    <a
                      class="flex flex-col text-black-950"
                      href={`/${Astro.params.lang}/projects/${post.slug.slice(3)}/`}
                    >
                      <img
                        class="rounded-xl aspect-video object-cover"
                        width={720}
                        height={360}
                        src={post.feature_image}
                        alt=""
                      />
                      <h6 class="title mt-4">{post.title}</h6>
                      <p class="date">
                        <TextDate
                          lang={Astro.params.lang}
                          date={post.published_at!}
                        />
                      </p>
                    </a>
                  </li>
                ))}
              </ul>
            ) : (
              <div class="flex justify-center">
                <p>{t("global.empty")}</p>
              </div>
            )
          }
        </div>
      </article>
    </main>
    <Footer />
    <SearchDaemon />
  </body>
</html>
