---
import IndentLine from '../../components/IndentLine.astro';
import { getCurrentLangCode } from '../../i18n/utils';
import { useTranslation } from '../../i18n/utils';

const langCode = getCurrentLangCode(Astro.url);
const t = useTranslation(langCode);

const experience: {
  companyName: string;
  country: string;
  position: string;
  period: string;
  main: string;
  projects: {
    title: string;
    description: string;
    period: string;
    goals: string[];
  }[];
}[] = [
  {
    companyName: t('about.experience.epapyrus.title'),
    country: t('about.experience.epapyrus.country'),
    position: t('about.experience.epapyrus.roll'),
    main: t('about.experience.epapyrus.main'),
    period: t('about.experience.epapyrus.period'),
    projects: [
      {
        title: t('about.experience.epapyrus.features.pen.title'),
        period: t('about.experience.epapyrus.features.pen.period'),
        description: t('about.experience.epapyrus.features.pen.description'),
        goals: [
          t('about.experience.epapyrus.features.pen.rolls.1'),
          t('about.experience.epapyrus.features.pen.rolls.2'),
        ],
      },
      {
        title: t('about.experience.epapyrus.features.pki.title'),
        period: t('about.experience.epapyrus.features.pki.period'),
        description: t('about.experience.epapyrus.features.pki.description'),
        goals: [
          t('about.experience.epapyrus.features.pki.rolls.1'),
          t('about.experience.epapyrus.features.pki.rolls.2'),
        ],
      },
    ],
  },
  {
    companyName: t('about.experience.playauto.title'),
    country: t('about.experience.playauto.country'),
    position: t('about.experience.playauto.roll'),
    main: t('about.experience.playauto.main'),
    period: t('about.experience.playauto.period'),
    projects: [
      {
        title: t('about.experience.playauto.features.multi_framework.title'),
        period: t('about.experience.playauto.features.multi_framework.period'),
        description: t('about.experience.playauto.features.multi_framework.description'),
        goals: [
          t('about.experience.playauto.features.multi_framework.rolls.1'),
          t('about.experience.playauto.features.multi_framework.rolls.2'),
        ],
      },
      {
        title: t('about.experience.playauto.features.datatable.title'),
        period: t('about.experience.playauto.features.datatable.period'),
        description: t('about.experience.playauto.features.datatable.description'),
        goals: [
          t('about.experience.playauto.features.datatable.rolls.1'),
          t('about.experience.playauto.features.datatable.rolls.2'),
        ],
      },
      {
        title: t('about.experience.playauto.features.pa_global.title'),
        period: t('about.experience.playauto.features.pa_global.period'),
        description: t('about.experience.playauto.features.pa_global.description'),
        goals: [
          t('about.experience.playauto.features.pa_global.rolls.1'),
          t('about.experience.playauto.features.pa_global.rolls.2'),
        ],
      },
    ],
  },
];
---
<div
  class="tw-flex tw-flex-col tw-w-full tw-justify-start tw-text-left"
>
  <h3 id="experience" class="tw-font-bold">
    {t("about.experience")}
  </h3>
  <IndentLine class="tw-h-full">
    <div class="tw-list-disc tw-list-inside tw-flex tw-flex-col tw-gap-4">
      {
        experience.map((exp) => (
          <div class="tw-p-3 tw-rounded-lg">
            <div class="tw-flex tw-justify-between tw-flex-row">
              <div>
                <h3 class="tw-flex tw-flex-row tw-items-center">
                  {exp.companyName}
                  <span class="tw-text-sm tw-text-black-700 tw-ml-2">
                    based in {exp.country}
                  </span>
                </h3>
                <p class="tw-text-sm tw-mt-0">
                  <i class="ri-group-line" />
                  {exp.position}
                </p>
              </div>
              <span class="tw-text-sm">
                <i class="ri-calendar-line" />
                {exp.period}
              </span>
            </div>
            <div class="tw-flex tw-flex-col tw-mt-6 tw-gap-6">
              {exp.projects.map((project) => (
                <div class="tw-flex tw-flex-row">
                  <div class="tw-w-1/4 tw-mr-8 tw-text-right tw-break-words">
                    <h4 class="tw-break-keep">{project.title}</h4>
                    <p class="tw-text-sm">{project.period}</p>
                  </div>
                  <div class="tw-flex-1 tw-mt-0">
                    <p>{project.description}</p>
                    <ul class="tw-list-disc tw-list-inside tw-mt-2">
                      {project.goals.map((desc) => (
                        <li class="tw-list-outside tw-ml-6">{desc}</li>
                      ))}
                    </ul>
                  </div>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </IndentLine>
</div>
