---
import IndentLine from '../../components/IndentLine.astro';
import { getCurrentLangCode } from '../../i18n/utils';
import { useTranslation } from '../../i18n/utils';

const langCode = getCurrentLangCode(Astro.url);
const t = useTranslation(langCode);

const experience: {
  companyName: string;
  country: string;
  position: string;
  period: string;
  overall: string;
  description: string[];
}[] = [
  {
    companyName: t('about.experience.swit.title'),
    country: t('about.experience.swit.country'),
    position: t('about.experience.swit.roll'),
    period: t('about.experience.swit.period'),
    overall: '',
    description: [
      t('about.experience.swit.activity.1'),
      t('about.experience.swit.activity.2'),
      t('about.experience.swit.activity.3'),
      t('about.experience.swit.activity.4'),
      t('about.experience.swit.activity.5'),
    ],
  },
  {
    companyName: t('about.experience.epapyrus.title'),
    country: t('about.experience.epapyrus.country'),
    position: t('about.experience.epapyrus.roll'),
    period: t('about.experience.epapyrus.period'),
    overall: '',
    description: [t('about.experience.epapyrus.activity.1'), t('about.experience.epapyrus.activity.2')],
  },
  {
    companyName: t('about.experience.playauto.title'),
    country: t('about.experience.playauto.country'),
    position: t('about.experience.playauto.roll'),
    period: t('about.experience.playauto.period'),
    overall: '',
    description: [
      t('about.experience.playauto.activity.1'),
      t('about.experience.playauto.activity.2'),
      t('about.experience.playauto.activity.3'),
      t('about.experience.playauto.activity.4'),
    ],
  },
  {
    companyName: t('about.experience.jdlab.title'),
    country: t('about.experience.jdlab.country'),
    position: t('about.experience.jdlab.roll'),
    period: t('about.experience.jdlab.period'),
    overall: '',
    description: [t('about.experience.jdlab.activity.1'), t('about.experience.jdlab.activity.2')],
  },
];
---

<div
  class="tw-flex tw-flex-col tw-w-full tw-h-full tw-justify-start tw-text-left"
>
  <h4 id="experience">
    {t("about.experience")}
  </h4>
  <IndentLine>
    <div class="tw-list-disc tw-list-inside tw-flex tw-flex-col tw-gap-4">
      {
        (
          <div class="tw-p-2 tw-rounded-lg">
            <div class="tw-flex tw-justify-between tw-flex-row">
              <div>
                <h2 class="tw-flex tw-flex-row tw-items-center">스윗 코리아</h2>
                <p class="tw-text-sm">
                  <i class="ri-group-line tw-mr-2" />
                  프론트엔드 / 개발자
                </p>
              </div>
              <span class="tw-text-sm">
                <i class="ri-calendar-line tw-mr-2" />
                2021.10 - 2023.12
              </span>
            </div>
            <div class="tw-flex tw-mt-4">
              <div class="tw-w-1/4 tw-text-right tw-mr-8">
                <h4>Swit Auth</h4>
                <p>2021.10 - 2023.12</p>
              </div>
              <div class="tw-flex-1">
                <h4>Description</h4>
                <p class="tw-mt-2">
                  안녕하세요..... 안녕하세요... 안녕하세요..
                </p>
                <h4 class="tw-mt-2">What did i do.</h4>
                <ul class="tw-list-disc tw-list-inside tw-mt-2">
                  {experience[0].description.map((desc) => (
                    <li class="tw-list-outside tw-ml-6">{desc}</li>
                  ))}
                </ul>
                <h4 class="tw-mt-2">Tech Stack</h4>
                <p>React, Angular, Webpack</p>
              </div>
            </div>
            <h6 class="tw-mt-2">Overall</h6>
            <p class="tw-mt-2">안녕하세요..... 안녕하세요... 안녕하세요.. </p>
            <h6 class="tw-mt-2">What did i do.</h6>
            <ul class="tw-list-disc tw-list-inside tw-mt-2">
              {experience[0].description.map((desc) => (
                <li class="tw-list-outside tw-ml-6">{desc}</li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
  </IndentLine>
  <IndentLine>
    <div class="tw-list-disc tw-list-inside tw-flex tw-flex-col tw-gap-4">
      {
        experience.map((exp) => (
          <div class="tw-p-2 tw-rounded-lg">
            <div class="tw-flex tw-justify-between tw-flex-row">
              <div>
                <h2 class="tw-flex tw-flex-row tw-items-center">
                  {exp.companyName}
                </h2>
                {/* <p class="tw-text-sm">
                  <i class="ri-group-line tw-mr-2" />{exp.position}
                </p> */}
              </div>
              <span class="tw-text-sm">
                <i class="ri-calendar-line tw-mr-2" />
                {exp.period}
              </span>
            </div>
            <h6 class="tw-mt-2">Overall</h6>
            <p class="tw-mt-2">안녕하세요..... 안녕하세요... 안녕하세요.. </p>
            <h6 class="tw-mt-2">What did i do.</h6>
            <ul class="tw-list-disc tw-list-inside tw-mt-2">
              {exp.description.map((desc) => (
                <li class="tw-list-outside tw-ml-6">{desc}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </IndentLine>
</div>
