---
import type { SupportedLanguageCodes } from "@/lib/language";
import IndentLine from "../../components/IndentLine.astro";
import { useTranslation } from "../../i18n/utils";
import type { OpenSourceExperience } from "../../types/open-source";

type Props = {
  lang: SupportedLanguageCodes;
  opensourceExperience: OpenSourceExperience[];
};

const { opensourceExperience } = Astro.props;
const t = useTranslation(Astro.props.lang);
---

<h3 id="open_source" class="text-2xl font-bold">
  {t("about.open_source")}
</h3>
<IndentLine class="flex flex-col gap-4">
  {
    opensourceExperience.map((exp) => (
      <div class="p-3">
        <div class="flex justify-between flex-row">
          <div>
            <h2 class="text-3xl">{t(exp.projectName)}</h2>
            <p class="text-sm">
              <a
                class="break-all"
                href={`https://${t(exp.publicLink)}`}
                target="_blank"
              >
                <i class="ri-links-line" />
                {t(exp.publicLink)}
              </a>
            </p>
          </div>
          <div class="inline-flex flex-col items-end">
            <span class="text-sm">
              <i class="ri-calendar-line" />
              {t(exp.period)}
            </span>
          </div>
        </div>
        <p class="mt-4">{t(exp.description)}</p>
        <ul class="list-disc list-inside mt-2">
          {exp.features.map((feature) => (
            <li class="list-outside ml-6">{t(feature)}</li>
          ))}
        </ul>
      </div>
    ))
  }
</IndentLine>
