---
import { useTranslation } from "@/i18n/utils";
import type { SupportedLanguageCodes } from "@/lib/language";
import type { WorkExperience } from "@/types/work-experience";
import IndentLine from "../IndentLine.astro";

type Props = {
  lang: SupportedLanguageCodes;
  indentEnd: boolean;
  workExperience: WorkExperience[];
};
const props = Astro.props as Props;

const t = useTranslation(Astro.props.lang);
---

<h3 id="experience" class="text-left text-2xl font-bold">
  {t("about.experience")}
</h3>
<IndentLine end={props.indentEnd} class="h-full">
  <div class="flex list-inside list-disc flex-col gap-4 text-left">
    {
      props.workExperience.map((exp) => (
        <div class="rounded-lg p-3">
          <div class="flex flex-row justify-between">
            <div>
              <h2 class="flex flex-row items-center text-3xl">
                {t(exp.companyName)}
                <span class="ml-2 text-sm text-neutral-700">
                  based in {t(exp.country)}
                </span>
              </h2>
              <p class="mt-0 text-sm">
                <i class="ri-group-line" />
                {t(exp.position)}
              </p>
            </div>
            <span class="text-sm">
              <i class="ri-calendar-line" />
              {t(exp.period)}
            </span>
          </div>
          <div class="mt-8 flex flex-col gap-8">
            {exp.projects.map((project) => (
              <div class="flex flex-row">
                <div class="mr-8 w-1/4 wrap-break-word">
                  <h5 class="text-lg break-keep">{t(project.title)}</h5>
                  <p class="text-sm">{t(project.period)}</p>
                </div>
                <div class="mt-0 flex-1">
                  <p>{t(project.description)}</p>
                  <ul class="mt-2 list-inside list-disc">
                    {project.goals.map((desc) => (
                      <li class="ml-6 list-outside">{t(desc)}</li>
                    ))}
                  </ul>
                </div>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</IndentLine>
