---
import { useTranslation } from "@/i18n/utils";
import type { SupportedLanguageCodes } from "@/lib/language";
import type { WorkExperience } from "@/types/work-experience";
import IndentLine from "../IndentLine.astro";

type Props = {
  lang: SupportedLanguageCodes;
  indentEnd: boolean;
  workExperience: WorkExperience[];
};
const props = Astro.props as Props;

const t = useTranslation(Astro.props.lang);
---

<h3 id="experience" class="text-2xl font-bold text-left">
  {t("about.experience")}
</h3>
<IndentLine end={props.indentEnd} class="h-full">
  <div class="list-disc list-inside flex flex-col gap-4 text-left">
    {
      props.workExperience.map((exp) => (
        <div class="p-3 rounded-lg">
          <div class="flex justify-between flex-row">
            <div>
              <h2 class="text-3xl flex flex-row items-center">
                {t(exp.companyName)}
                <span class="text-sm text-neutral-700 ml-2">
                  based in {t(exp.country)}
                </span>
              </h2>
              <p class="text-sm mt-0">
                <i class="ri-group-line" />
                {t(exp.position)}
              </p>
            </div>
            <span class="text-sm">
              <i class="ri-calendar-line" />
              {t(exp.period)}
            </span>
          </div>
          <div class="flex flex-col mt-8 gap-8">
            {exp.projects.map((project) => (
              <div class="flex flex-row">
                <div class="w-1/4 mr-8 wrap-break-word">
                  <h5 class="text-lg break-keep">{t(project.title)}</h5>
                  <p class="text-sm">{t(project.period)}</p>
                </div>
                <div class="flex-1 mt-0">
                  <p>{t(project.description)}</p>
                  <ul class="list-disc list-inside mt-2">
                    {project.goals.map((desc) => (
                      <li class="list-outside ml-6">{t(desc)}</li>
                    ))}
                  </ul>
                </div>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</IndentLine>
