---
import IndentLine from '../../components/IndentLine.astro';
import { getCurrentLangCode } from '../../i18n/utils';
import { useTranslation } from '../../i18n/utils';

const langCode = getCurrentLangCode(Astro.url);
const t = useTranslation(langCode);

const experience: {
  companyName: string;
  main: string;
  country: string;
  position: string;
  period: string;
  projects: {
    title: string;
    description: string;
    period: string;
    goals: string[];
  }[];
}[] = [
  {
    companyName: t('about.experience.swit.title'),
    main: t('about.experience.swit.main'),
    country: t('about.experience.swit.country'),
    position: t('about.experience.swit.roll'),
    period: t('about.experience.swit.period'),
    projects: [
      {
        title: t('about.experience.swit.features.editor.title'),
        period: t('about.experience.swit.features.editor.period'),
        description: t('about.experience.swit.features.editor.description'),
        goals: [
          t('about.experience.swit.features.editor.rolls.1'),
          t('about.experience.swit.features.editor.rolls.2'),
          t('about.experience.swit.features.editor.rolls.3'),
          t('about.experience.swit.features.editor.rolls.4'),
          t('about.experience.swit.features.editor.rolls.5'),
        ],
      },
      {
        title: t('about.experience.swit.features.auth.title'),
        period: t('about.experience.swit.features.auth.period'),
        description: t('about.experience.swit.features.auth.description'),
        goals: [
          t('about.experience.swit.features.auth.rolls.1'),
          t('about.experience.swit.features.auth.rolls.2'),
          t('about.experience.swit.features.auth.rolls.3'),
          t('about.experience.swit.features.auth.rolls.4'),
        ],
      },
      {
        title: t('about.experience.swit.features.language.title'),
        period: t('about.experience.swit.features.language.period'),
        description: t('about.experience.swit.features.language.description'),
        goals: [
          t('about.experience.swit.features.language.rolls.1'),
          t('about.experience.swit.features.language.rolls.2'),
        ],
      },
      {
        title: t('about.experience.swit.features.design_system.title'),
        period: t('about.experience.swit.features.design_system.period'),
        description: t('about.experience.swit.features.design_system.description'),
        goals: [
          t('about.experience.swit.features.design_system.rolls.1'),
          t('about.experience.swit.features.design_system.rolls.2'),
          t('about.experience.swit.features.design_system.rolls.3'),
        ],
      },
      {
        title: t('about.experience.swit.features.task.title'),
        period: t('about.experience.swit.features.task.period'),
        description: t('about.experience.swit.features.task.description'),
        goals: [
          t('about.experience.swit.features.task.rolls.1'),
          t('about.experience.swit.features.task.rolls.2'),
          t('about.experience.swit.features.task.rolls.3'),
        ],
      },
    ],
  },
];
---

<div
  class="tw-flex tw-flex-col tw-w-full tw-h-full tw-justify-start tw-text-left"
>
  <h3 id="experience" class="tw-font-bold">
    {t("about.experience")}
  </h3>
  <IndentLine end={false} class="tw-h-full">
    <div class="tw-list-disc tw-list-inside tw-flex tw-flex-col tw-gap-4">
      {
        experience.map((exp) => (
          <div class="tw-p-3 tw-rounded-lg">
            <div class="tw-flex tw-justify-between tw-flex-row">
              <div>
                <h2 class="tw-flex tw-flex-row tw-items-center">
                  {exp.companyName}
                  <span class="tw-text-sm tw-text-black-700 tw-ml-2">
                    based in {exp.country}
                  </span>
                </h2>
                <p class="tw-text-sm tw-mt-0">
                  <i class="ri-group-line" />
                  {exp.position}
                </p>
              </div>
              <span class="tw-text-sm">
                <i class="ri-calendar-line" />
                {exp.period}
              </span>
            </div>
            <div class="tw-flex tw-flex-col tw-mt-8 tw-gap-8">
              {exp.projects.map((project) => (
                <div class="tw-flex tw-flex-row">
                  <div class="tw-w-1/4 tw-mr-8 tw-break-words">
                    <h5 class="tw-break-keep">{project.title}</h5>
                    <p class="tw-text-sm">{project.period}</p>
                  </div>
                  <div class="tw-flex-1 tw-mt-0">
                    <p>{project.description}</p>
                    <ul class="tw-list-disc tw-list-inside tw-mt-2">
                      {project.goals.map((desc) => (
                        <li class="tw-list-outside tw-ml-6">{desc}</li>
                      ))}
                    </ul>
                  </div>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </IndentLine>
</div>
