---
import type { SupportedLanguageCodes } from '@/lib/language';
import { SITE_TITLE } from '../../consts';
import HeaderLink from '../HeaderLink.astro';
import IconButton from '../icon/IconButton.astro';
import WHeader from './Header.astro';

type Props = {
  lang: SupportedLanguageCodes;
}

---

<WHeader>
  <h2 class="text-base">
    <a class="text-black-950" href={`/${Astro.props.lang}`}>{SITE_TITLE}</a>
  </h2>
  <div class="flex items-center">
    <div class="flex justify-center items-center">
        <IconButton icon="ri-search-line" size="sm" onclick="window.dispatchEvent(new CustomEvent('open-search'))" />
      <hr class="border-r border-solid border-black-200 h-8 border-t-0 mx-4">
    </div>
    <HeaderLink pathname={`/${Astro.props.lang}/about`}>About</HeaderLink>
    <HeaderLink pathname={`/${Astro.props.lang}/projects`}>Projects</HeaderLink>
    <HeaderLink pathname={`/${Astro.props.lang}/blog`}>Blog</HeaderLink>
  </div>
</WHeader>
