---
import type { SupportedLanguageCodes } from "@/lib/language";
import TextDate from "./TextDate.astro";

type Props = {
  lang: SupportedLanguageCodes;
  createdAt: string;
  updatedAt?: string | null;
  title: string;
  class?: string | null;
};
---

<div class:list={["text-center py-4 flex flex-col", Astro.props.class]}>
  <h1 class="text-4xl">{Astro.props.title}</h1>
  <div class="py-4">
    <TextDate lang={Astro.props.lang} date={Astro.props.createdAt} />
    <!-- {
      Astro.props.updatedAt && (
        <div class="italic">
          Last updated on{" "}
          <TextDate lang={Astro.props.lang} date={Astro.props.updatedAt} />
        </div>
      )
    } -->
  </div>
  <hr class="border-0 border-t border-black-200" />
</div>
