---
import BaseHead from "@/components/BaseHead.astro";
import BlogHeader from "@/components/BlogHeader.astro";
import Footer from "@/components/Footer.astro";
import GhostPost from "@/components/GhostPost.astro";
import ContentImage from "@/components/ContentImage.astro";
import { LOCALE_INFO, type SupportedLanguageCodes } from "@/lib/language";
import type { ArticleEntry, PageEntry } from "@/lib/content";
import TextDate from "./TextDate.astro";
import Gtm from "./Gtm.astro";
import ArticleAuthor from "./ArticleAuthor.astro";
import { getTranslation } from "@/i18n/utils";

type Props = {
  lang: SupportedLanguageCodes;
  entry: ArticleEntry | PageEntry;
  alternativeEntries: Array<
    | {
        lang: SupportedLanguageCodes;
      }
    | ArticleEntry
    | PageEntry
  >;
  slug: string;
  usePublishedDate?: boolean;
  useAuthor?: boolean;
  useComments?: boolean;
};

const { entry } = Astro.props;
const alternativeEntries = Astro.props.alternativeEntries
  .map((alternativeEntry) => {
    const lang = (
      "lang" in alternativeEntry
        ? alternativeEntry.lang
        : alternativeEntry.data.lang
    ) as SupportedLanguageCodes;

    return { lang };
  })
  .filter((alternativeEntry) => alternativeEntry.lang !== Astro.props.lang);
const publishedAt =
  "publishedAt" in entry.data ? entry.data.publishedAt : undefined;
const t = getTranslation(Astro.props.lang);
---

<html lang={Astro.props.lang}>
  <head>
    <BaseHead
      title={entry.data.title}
      description={entry.data.excerpt || entry.data.title}
      ogImageUrl={entry.data.featureImage?.src}
      lang={Astro.props.lang}
    />
  </head>

  <body>
    <Gtm />
    <BlogHeader lang={Astro.props.lang} />
    <main class="w-full max-w-full">
      <article>
        {entry.data.featureImage && (
          <ContentImage
            class="mx-auto aspect-video w-full max-h-80 object-cover"
            src={entry.data.featureImage}
            alt={entry.data.title}
            loading="eager"
            widths={[720, 1280, 1600]}
            sizes="100vw"
          />
        )}
        <div class="m-auto max-w-[720px] px-4">
          <div class:list={["mt-4 flex flex-col py-4 text-center"]}>
            <h1 class="text-4xl">{entry.data.title}</h1>
            {Astro.props.usePublishedDate && publishedAt && (
              <div class="mt-2">
                <TextDate lang={Astro.props.lang} date={publishedAt} />
              </div>
            )}
            {alternativeEntries.length > 0 && (
              <div class="mt-8 flex items-center justify-end text-sm">
                {t("article.alternative-language-available")}
                <div class="ml-1 flex gap-2">
                  {alternativeEntries.map((alternativeEntry) => (
                    <a
                      class:list={["badge badge-neutral badge-ghost text-sm"]}
                      href={Astro.url.pathname.replace(
                        `/${Astro.props.lang}/`,
                        `/${alternativeEntry.lang}/`,
                      )}
                    >
                      {LOCALE_INFO[alternativeEntry.lang].nativeName}
                    </a>
                  ))}
                </div>
              </div>
            )}
            <div class="divider"></div>
          </div>
          <GhostPost>
            <slot />
          </GhostPost>
          {Astro.props.useAuthor && (
            <div class="mt-12">
              <ArticleAuthor lang={Astro.props.lang} />
            </div>
          )}
          {
            Astro.props.useComments && (
              <div class="mt-16">
                <script
                  is:inline
                  class="discus"
                  src="https://giscus.app/client.js"
                  data-repo="winetree94/winetree94.com"
                  data-repo-id="R_kgDOMQZteg"
                  data-category="Announcements"
                  data-category-id="DIC_kwDOMQZtes4Cg0or"
                  data-mapping="specific"
                  data-term={Astro.props.slug}
                  data-strict="1"
                  data-reactions-enabled="1"
                  data-emit-metadata="0"
                  data-input-position="bottom"
                  data-theme="dark"
                  data-lang={Astro.props.lang}
                  crossorigin="anonymous"
                  async
                />
                <script is:inline>
                  {`
                  function changeGiscusTheme() {
                    const theme =
                      document.documentElement.getAttribute("data-scheme") ===
                      "dark"
                        ? "dark"
                        : "light";

                    function sendMessage(message) {
                      const iframe = document.querySelector("iframe.giscus-frame");
                      if (!iframe) return;
                      iframe.contentWindow.postMessage(
                        { giscus: message },
                        "https://giscus.app",
                      );
                    }

                    sendMessage({
                      setConfig: {
                        theme: theme,
                      },
                    });
                  }

                  const observer = new MutationObserver((mutations) => {
                    mutations.forEach((mutation) => {
                      if (
                        mutation.type === "attributes" &&
                        mutation.attributeName === "data-theme"
                      ) {
                        changeGiscusTheme();
                      }
                    });
                  });

                  observer.observe(document.documentElement, {
                    attributes: true,
                    attributeFilter: ["data-theme"],
                  });

                  window.addEventListener("message", (event) => {
                    if (event.origin !== "https://giscus.app") return;
                    if (!(typeof event.data === "object" && event.data.giscus)) {
                      return;
                    }
                    changeGiscusTheme();
                  });
                  `}
                </script>
              </div>
            )
          }
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
