---
import { useTranslation } from "@/i18n/utils";
import { ghost } from "@/lib/ghost";
import { LOCALE_INFO, type SupportedLanguageCodes } from "@/lib/language";
import { ThemeSwitcher } from "./react/ThemeSwitcher";

type Props = {
  lang: SupportedLanguageCodes;
};

const tags = await ghost.tags.browse({
  limit: 100,
  filter: "visibility:public",
});

const t = useTranslation(Astro.props.lang);
---

<div class="drawer">
  <input id="global-drawer" type="checkbox" class="drawer-toggle" />
  <div class="fixed top-4 left-4">
    <!-- Page content here -->
    <label for="global-drawer" class="btn drawer-button btn-circle">
      <i class="ri-menu-line"></i>
    </label>
  </div>
  <div class="drawer-content">
    <slot />
  </div>
  <div class="drawer-side">
    <label for="global-drawer" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <div class="bg-base-200 min-h-full w-60 p-4 flex flex-col">
      <div class="flex flex-col flex-1">
        <ul class="menu w-full p-0">
          <!-- Sidebar content here -->
          <li class="my-2 text-neutral-600 font-bold">winetree94</li>
          <li>
            <a href={`/${Astro.props.lang}/`}>Hello</a>
          </li>
          <li>
            <a href={`/${Astro.props.lang}/resume/`}>Resume</a>
          </li>
          <li>
            <a href={`/${Astro.props.lang}/about/`}>About Me</a>
          </li>
          <li class="my-2 text-neutral-600 font-bold">Contents</li>
          <li><a href={`/${Astro.props.lang}/tags/project/`}>Projects</a></li>
          <li><a href={`/${Astro.props.lang}/tags/blog/`}>Blog</a></li>
          <li class="my-2 text-neutral-600 font-bold">Tags</li>
        </ul>
        <div class="flex flex-wrap gap-2 mt-2">
          {
            tags.map((tag) => (
              <a
                class="badge badge-soft"
                href={`/${Astro.props.lang}/tags/${tag.slug}/`}
              >
                {tag.name}
              </a>
            ))
          }
        </div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-col">
          <div class="divider m-0 p-0"></div>

          <!-- Theme Toggle -->
          <ThemeSwitcher
            client:only
            labels={{
              theme: t("theme"),
              light: t("theme.light"),
              dark: t("theme.dark"),
              auto: t("theme.auto"),
            }}
          />

          <!-- Language Toggle -->
          <div class="dropdown dropdown-top">
            <div
              tabindex="0"
              role="button"
              class="btn btn-ghost w-full font-medium justify-start"
            >
              <i class="ri-translate"></i>
              {LOCALE_INFO[Astro.props.lang].nativeName}
            </div>
            <ul
              tabindex="-1"
              class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
            >
              {
                Object.entries(LOCALE_INFO).map(([code, info]) => (
                  <li>
                    <a href={`/${code}/`}>{info.nativeName}</a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
