
---
import ArticleHead from "@/components/ArticleHead.astro";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import GhostPost from "@/components/GhostPost.astro";
import BlogHeader from "@/components/header/BlogHeader.astro";
import SearchDaemon from "@/components/SearchDaemon.astro";
import { useTranslation } from "@/i18n/utils";
import { ghost } from "@/lib/ghost";
import { highlightGhostHTML } from "@/lib/highlight";
import { SUPPORTED_LANGUAGES } from "@/lib/language";
import type {
  GetStaticPaths,
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro";

export const getStaticPaths = (async () => {
  const res = await Promise.all(Object.values(SUPPORTED_LANGUAGES).map(async (lang) => {
    const page = await ghost.pages.read({
      slug: `${lang}-else`
    });
    if (!page) {
      throw new Error(`Page not found for language ${lang}`);
    }
    return {
        props: {
          page: page
        },
        params: {
          lang: lang,
        },
      }
  }));
  return res.flat();
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const t = useTranslation(Astro.params.lang);
const highlightedHTML = await highlightGhostHTML(Astro.props.page.html || "");
---
<html lang={Astro.params.lang}>
  <head>
    <BaseHead
      title={Astro.props.page.title!}
      description={Astro.props.page.excerpt!}
      ogImageUrl={Astro.props.page.feature_image || undefined}
      lang={Astro.params.lang}
    />
  </head>

  <body>
    <BlogHeader lang={Astro.params.lang} />
    <main class="w-full max-w-full">
      <article>
        <img
          class="w-full max-w-full aspect-21/9 object-cover"
          src={Astro.props.page.feature_image}
        />
        <div class="max-w-[720px] m-auto">
          <ArticleHead
            class:list="mt-4"
            lang={Astro.params.lang}
            createdAt={Astro.props.page.published_at!}
            updatedAt={Astro.props.page.updated_at}
            title={Astro.props.page.title!}
          />
          <GhostPost>
            <Fragment set:html={highlightedHTML} />
          </GhostPost>
          <div class="mt-16">
            <script
              src="https://giscus.app/client.js"
              data-repo="winetree94/winetree94.com"
              data-repo-id="R_kgDOMQZteg"
              data-category="Announcements"
              data-category-id="DIC_kwDOMQZtes4Cg0or"
              data-mapping={Astro.url.pathname}
              data-strict="1"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="bottom"
              data-theme="light"
              data-lang={Astro.params.lang}
              crossorigin="anonymous"
              async></script>
          </div>
        </div>
      </article>
    </main>
    <Footer />
    <SearchDaemon />
  </body>
</html>
