---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import BlogHeader from "@/components/header/BlogHeader.astro";
import SearchDaemon from "@/components/SearchDaemon.astro";
import {
  EMAIL,
  GITHUB_URL,
  LINKEDIN_URL,
  NPM_URL,
  SITE_DESCRIPTIONS,
  SITE_IMAGES,
  SITE_TITLES,
} from "@/consts";
import { useTranslation } from "@/i18n/utils";
import { LOCALE_INFO, SUPPORTED_LANGUAGES } from "@/lib/language";
import type {
  GetStaticPaths,
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro";

export const getStaticPaths = (async () => {
  return Object.values(SUPPORTED_LANGUAGES).map((lang) => ({
    params: {
      lang: lang,
    },
  }));
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const t = useTranslation(Astro.params.lang);

const title = SITE_TITLES[Astro.params.lang];
const description = SITE_DESCRIPTIONS[Astro.params.lang];
const image = SITE_IMAGES[Astro.params.lang];

const keywords = [
  "FRONTEND",
  "DEVOPS",
  "CLOUD NATIVE",
  "OPEN SOURCE",
  "EMBEDDED LINUX",
];
---

<!doctype html>
<html lang={Astro.params.lang}>
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImageUrl={image}
      lang={Astro.params.lang}
    />
    <style lang="scss">
      .profile-image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: block;
        margin-bottom: 1rem;
      }
      .lang-link {
        &.disabled {
          pointer-events: none;
          color: #b3b3b3;
        }
      }
    </style>
  </head>
  <body class="w-full h-dvh flex flex-col">
    <BlogHeader lang={Astro.params.lang} />
    <main
      class="flex flex-col items-center w-[720px] max-w-[calc(100%-2em)] mx-auto py-12 px-4 flex-1 justify-center"
    >
      <img class="profile-image" src="/photos/profile.jpg" alt="" />

      <span class={`text-rotate text-5xl duration-4000`}>
        <span class="justify-items-center">
          {keywords.map((keyword) => <span>{keyword}</span>)}
        </span>
      </span>
      <h5 class="text-lg">winetree94</h5>
      <p class="text-center mt-4">
        <Fragment set:html={t("home.introduction")} />
      </p>
      <div class="flex mt-4 gap-4">
        <a class="btn btn-circle btn-ghost" href={GITHUB_URL} target="_blank">
          <i class="ri-github-line"></i>
        </a>
        <a
          class="btn btn-circle btn-ghost"
          href={`mailto: ${EMAIL}`}
          target="_blank"
        >
          <i class="ri-mail-line"></i>
        </a>
        <a class="btn btn-circle btn-ghost" href={NPM_URL} target="_blank">
          <i class="ri-npmjs-line"></i>
        </a>
        <a class="btn btn-circle btn-ghost" href={LINKEDIN_URL} target="_blank">
          <i class="ri-linkedin-box-line"></i>
        </a>
      </div>
      <ul>
        {
          Object.entries(LOCALE_INFO).map(([code, info]) => (
            <li>
              <a href={`/${code}/`}>{info.nativeName}</a>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
    <SearchDaemon />
  </body>
</html>
