---
import BaseHead from '@/components/BaseHead.astro';
import { SITE_IMAGES } from '@/consts';
import { useTranslation } from '@/i18n/utils';
import { SUPPORTED_LANGUAGES } from '@/lib/language';
import type { GetStaticPaths, InferGetStaticParamsType, InferGetStaticPropsType } from 'astro';
import WHeader from '@/components/header/Header.astro';
import IconButton from '@/components/icon/IconButton.astro';
import IconLink from '@/components/icon/IconLink.astro';
import Page1 from '@/components/resume-pages/page1.astro';
import Page2 from '@/components/resume-pages/page2.astro';
import Page3 from '@/components/resume-pages/page3.astro';
import Page4 from '@/components/resume-pages/page4.astro';

export const getStaticPaths = (async () => {
  return Object.values(SUPPORTED_LANGUAGES).map(lang => ({
    params: {
      lang: lang,
    }
  }));
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const t = useTranslation(Astro.params.lang)
const image = SITE_IMAGES[Astro.params.lang];

---
<!doctype html>
<html lang={Astro.params.lang}>
  <head>
    <BaseHead title={t('resume.title')} description={t('resume.description')} ogImageUrl={image} lang={Astro.params.lang} />
  </head>
  <body
    class="flex flex-col bg-black-800 m-0 p-0 overflow-y-scroll"
  >
    <WHeader fixed={true}>
      <div class="flex items-center">
        <IconButton icon="ri-arrow-left-line" onclick="history.back()" />
        <IconLink icon="ri-home-line" href={`/${Astro.params.lang}/`} />
      </div>
      <div class="flex items-center h-full">
        <IconButton icon="ri-printer-line" onclick="window.print()" />
        <IconButton id="fullscreen-btn" icon="ri-fullscreen-line" />
        <IconButton id="zoom-in-btn" icon="ri-zoom-in-line" />
        <IconButton id="zoom-out-btn" icon="ri-zoom-out-line" />
      </div>
    </WHeader>

    <main
      id="viewer-root"
      class="m-0 mt-12 p-0 w-full max-w-full text-center print:p-0 print:m-0 print:mt-0 overflow-x-auto"
      style="visibility: hidden; --scaling-factor: 1; --doc-width: 210mm; --doc-height: 297mm;"
    >
      <div id="size-container" class="inline-block overflow-hidden">
        <div
          id="zoom-container"
          class="origin-top-left p-16 print:p-0"
        >
          <div class="page">
            <Page1 lang={Astro.params.lang} />
          </div>
          <div class="page">
            <Page2 lang={Astro.params.lang} />
          </div>
          <div class="page">
            <Page3 lang={Astro.params.lang} />
          </div>
          <div class="page">
            <Page4 lang={Astro.params.lang} />
          </div>
        </div>
      </div>
    </main>

    <script>
      const MAX_ZOOM_LEVEL = 1.0;
      const MIN_ZOOM_LEVEL = 0.25;

      // editor elements
      const VIEWER_ROOT = document.querySelector(
        "#viewer-root"
      )! as HTMLDivElement;
      const ZOOM_CONTAINER = document.querySelector(
        "#zoom-container"
      )! as HTMLDivElement;

      // buttons
      const FULLSCREEN_BTN = document.querySelector(
        "#fullscreen-btn"
      )! as HTMLButtonElement;
      const ZOOM_IN_BTN = document.querySelector(
        "#zoom-in-btn"
      )! as HTMLButtonElement;
      const ZOOM_OUT_BTN = document.querySelector(
        "#zoom-out-btn"
      )! as HTMLButtonElement;

      const ORIGIN_CONTENT_WIDTH = ZOOM_CONTAINER.offsetWidth;
      const ORIGIN_CONTENT_HEIGHT = ZOOM_CONTAINER.offsetHeight;

      const getScale = () => {
        const rawValue = window
          .getComputedStyle(VIEWER_ROOT)
          .getPropertyValue("--scaling-factor")
          .trim();
        return rawValue ? parseFloat(rawValue) : 1;
      };

      const setScale = (scale: number) => {
        const targetValue = Math.max(
          Math.min(MAX_ZOOM_LEVEL, scale),
          MIN_ZOOM_LEVEL
        );
        ZOOM_IN_BTN.disabled = targetValue === MAX_ZOOM_LEVEL;
        ZOOM_OUT_BTN.disabled = targetValue === MIN_ZOOM_LEVEL;
        const screen = document.querySelector("body")!;
        const screenWidth = screen.offsetWidth;
        const screenMatchedScale = Math.max(
          Math.min(screenWidth / ORIGIN_CONTENT_WIDTH, MAX_ZOOM_LEVEL),
          MIN_ZOOM_LEVEL
        );
        FULLSCREEN_BTN.disabled = targetValue === screenMatchedScale;
        const currentWidth = ORIGIN_CONTENT_WIDTH * targetValue;
        const currentHeight = ORIGIN_CONTENT_HEIGHT * targetValue;
        VIEWER_ROOT.style.setProperty(
          "--scaling-factor",
          targetValue.toString()
        );
        ZOOM_CONTAINER.style.transform = `scale(${targetValue})`;
        ZOOM_CONTAINER.style.width = `${currentWidth}px`;
        ZOOM_CONTAINER.style.height = `${currentHeight}px`;
      };

      const matchWithScreen = () => {
        const screen = document.querySelector("body")!;
        const screenWidth = screen.offsetWidth;
        const scale = screenWidth / ORIGIN_CONTENT_WIDTH;
        setScale(scale);
      };

      FULLSCREEN_BTN.addEventListener("click", () => {
        matchWithScreen();
      });

      ZOOM_IN_BTN.addEventListener("click", () => {
        const scale = getScale() + 0.1;
        setScale(scale);
      });

      ZOOM_OUT_BTN.addEventListener("click", () => {
        const scale = getScale() - 0.1;
        setScale(scale);
      });

      // watch screen width
      matchWithScreen();
      VIEWER_ROOT.style.visibility = "visible";

      // detect ctrl + wheel
      let ctrlPressed = false;
      window.addEventListener("keydown", (event) => {
        if (event.key === "Control" || event.key === "Meta") {
          ctrlPressed = true;
        }
      });

      window.addEventListener("keyup", (event) => {
        if (event.key === "Control" || event.key === 'Meta') {
          ctrlPressed = false;
        }
      });

      window.addEventListener('blur', () => {
        ctrlPressed = false;
      });

      window.addEventListener("wheel", (event) => {
        if (ctrlPressed) {
          event.preventDefault();
          event.stopPropagation();
          const scale = getScale();
          const delta = event.deltaY > 0 ? -0.1 : 0.1;
          setScale(scale + delta);
        }
      }, {
        passive: false
      });
    </script>

<style lang="scss">
  @reference "../../styles/global.css";

      * {
        touch-action: manipulation;
      }

      .page {
        width: var(--doc-width);
        height: var(--doc-height);
        @apply bg-white-50 shrink-0 print:m-0 flex flex-col justify-between p-16;

        &:not(:first-child) {
          @apply mt-16;
        }
      }

      // print 모드일 때 스타일
      @media print {
        body {
          -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
          margin: 0 !important;
          padding: 0 !important;
        }

        @page {
          size: 210mm 297mm;
          margin: 0cm !important;
        }

        header,
        footer {
          display: none !important;
        }

        #viewer-root {
          width: unset !important;
          max-width: unset !important;
        }

        // reset scaling
        #zoom-container {
          transform: unset !important;
          width: unset !important;
          height: unset !important;
        }

        // reset overflow
        // 해제하지 않으면 1px 이 증가해서 다음 페이지까지 인쇄되는 문제가 발생함
        #size-container {
          overflow: unset !important;
        }

        .page {
          &:not(:first-child) {
            @apply mt-0;
          }
        }
      }
    </style>
  </body>
</html>
