---
export type Prop = {
  align?: 'left' | 'right' | 'center';
  class?: string;
  src: string;
  alt?: string;
  width: number | string;
  height: number | string;
};

const props = Astro.props;

const alignClassName =
  props.align === 'left' ? 'justify-start' : props.align === 'right' ? 'justify-end' : 'justify-center';
---

<div class={`image-container flex ${alignClassName}`}>
  <img class={`image  ${props.class || ''}`} src={props.src} alt={props.alt} width={props.width} height={props.height}/>
</div>

<style lang="scss">
  .image-container {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
</style>
