---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';
import OpenSource from '../components/resume/OpenSource.astro';
import Profiles from '../components/resume/Profiles.astro';
import Skills from '../components/resume/Skills.astro';
import WorkExperience from '../components/resume/WorkExperience.astro';
import { OPEN_SOURCE, SITE_DESCRIPTION, SITE_TITLE, WORK_EXPERIENCE } from '../consts';
import { getCurrentLangCode, getLangBasePath } from '../i18n/utils';
import { useTranslation } from '../i18n/utils';

const langCode = getCurrentLangCode(Astro.url);
const t = useTranslation(langCode);
const langPath = getLangBasePath(Astro.url);
---

<html lang={langCode}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <BlogHeader />
    <main>
      <div class="tw-flex tw-flex-col sm:tw-flex-row">
        <div class="tw-flex-shrink-0 tw-flex tw-justify-center">
          <img
            class="tw-rounded-full profile-image tw-max-w-[200px] tw-min-w-[200px] tw-min-h-[200px] tw-max-h-[200px]"
            src="/photos/profile.jpg"
            alt="Profile Image"
          />
        </div>
        <div class="tw-flex tw-flex-col sm:tw-ml-8 tw-mt-8 sm:tw-mt-0">
          <h5>{t("about.title")}</h5>
          <p class="tw-mt-4">
            <Fragment set:html={t("about.description")} />
            <br />
            {t("about.contact_me")}
          </p>
          {
            langCode === "ko" && (
              <p class="tw-text-right tw-mt-4">
                <a href={`${langPath}/resume`}>{t("about.profile.need-pdf")}</a>
              </p>
            )
          }
        </div>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-16">
        <h3 class="tw-font-bold">{t("about.jump_to")}</h3>
        <div
          class="tw-mt-4 tw-flex tw-justify-center tw-gap-2 tw-flex-col sm:tw-flex-row sm:tw-gap-4"
        >
          <a id="jump_to_profile" class="tw-cursor-pointer">
            {t("about.profile")}
          </a>
          <a id="jump_to_qualifications" class="tw-cursor-pointer">
            {t("about.qualifications")}
          </a>
          <a id="jump_to_experience" class="tw-cursor-pointer">
            {t("about.experience")}
          </a>
          <a id="jump_to_open_source" class="tw-cursor-pointer">
            {t("about.open_source")}
          </a>
        </div>
      </div>

      <div class="tw-flex tw-flex-col tw-mt-16">
        <Profiles />
      </div>

      <div class="tw-flex tw-flex-col tw-mt-16">
        <Skills />
      </div>

      <div class="tw-flex tw-flex-col tw-mt-16">
        <WorkExperience indentEnd={true} workExperience={WORK_EXPERIENCE} />
      </div>

      <div class="tw-flex tw-flex-col tw-mt-16">
        <OpenSource opensourceExperience={OPEN_SOURCE} />
      </div>
    </main>
    <Footer />
    <script>
      function scrollTo(id: string) {
        const element = document.getElementById(id);
        if (element) {
          element.scrollIntoView({ behavior: "smooth" });
        }
      }

      document
        .getElementById("jump_to_profile")!
        .addEventListener("click", () => scrollTo("profile"));
      document
        .getElementById("jump_to_qualifications")!
        .addEventListener("click", () => scrollTo("qualifications"));
      document
        .getElementById("jump_to_experience")!
        .addEventListener("click", () => scrollTo("experience"));
      document
        .getElementById("jump_to_open_source")!
        .addEventListener("click", () => scrollTo("open_source"));
    </script>
  </body>
</html>
