---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import IndentLine from '../components/IndentLine.astro';
import TechBadge from '../components/TechBadge.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCurrentLangCode, getLangBasePath } from '../i18n/utils';
import { useTranslation } from '../i18n/utils';

const langCode = getCurrentLangCode(Astro.url);
const t = useTranslation(langCode);
const langPath = getLangBasePath(Astro.url);

const scrollTo = (id: string) => {
  const element = document.getElementById(id);
  if (element) {
    element.scrollIntoView({ behavior: 'smooth' });
  }
};

const badges = ['Typescript', 'Angular', 'React', 'Webpack', 'Vite', 'Jest', 'Storybook', 'Aws', 'Docker'];

const links = [
  {
    name: 'Github',
    url: 'https://github.com/winetree94',
  },
  {
    name: 'NPM',
    url: 'https://www.npmjs.com/~winetree94',
  },
  {
    name: 'Docker Hub',
    url: 'https://hub.docker.com/u/winetree94',
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/hansol-park-995380265/',
  },
  {
    name: 'Reddit',
    url: 'https://www.reddit.com/user/No_Fail_5663/',
  },
  {
    name: 'Blog (Old)',
    url: 'https://winetree94.notion.site',
  },
];

const experience: {
  companyName: string;
  country: string;
  position: string;
  period: string;
  description: string[];
}[] = [
  {
    companyName: t('about.experience.swit.title'),
    country: t('about.experience.swit.country'),
    position: t('about.experience.swit.roll'),
    period: t('about.experience.swit.period'),
    description: [
      t('about.experience.swit.activity.1'),
      t('about.experience.swit.activity.2'),
      t('about.experience.swit.activity.3'),
      t('about.experience.swit.activity.4'),
      t('about.experience.swit.activity.5'),
    ],
  },
  {
    companyName: t('about.experience.epapyrus.title'),
    country: t('about.experience.epapyrus.country'),
    position: t('about.experience.epapyrus.roll'),
    period: t('about.experience.epapyrus.period'),
    description: [t('about.experience.epapyrus.activity.1'), t('about.experience.epapyrus.activity.2')],
  },
  {
    companyName: t('about.experience.playauto.title'),
    country: t('about.experience.playauto.country'),
    position: t('about.experience.playauto.roll'),
    period: t('about.experience.playauto.period'),
    description: [
      t('about.experience.playauto.activity.1'),
      t('about.experience.playauto.activity.2'),
      t('about.experience.playauto.activity.3'),
      t('about.experience.playauto.activity.4'),
    ],
  },
  {
    companyName: t('about.experience.jdlab.title'),
    country: t('about.experience.jdlab.country'),
    position: t('about.experience.jdlab.roll'),
    period: t('about.experience.jdlab.period'),
    description: [t('about.experience.jdlab.activity.1'), t('about.experience.jdlab.activity.2')],
  },
];

const opensourceExperience: {
  projectName: string;
  description: string;
  period: string;
  link: string;
}[] = [
  {
    projectName: t('about.open_source.edybara.title'),
    description: t('about.open_source.edybara.description'),
    period: t('about.open_source.edybara.period'),
    link: '/projects/edybara',
  },
  {
    projectName: t('about.open_source.qdocs.title'),
    description: t('about.open_source.qdocs.description'),
    period: t('about.open_source.qdocs.period'),
    link: '/projects/qdocs',
  },
  {
    projectName: t('about.open_source.vector_optimizer.title'),
    description: t('about.open_source.vector_optimizer.description'),
    period: t('about.open_source.vector_optimizer.period'),
    link: '/projects/vector-optimizer',
  },
  {
    projectName: t('about.open_source.vanilla_recycler_view.title'),
    description: t('about.open_source.vanilla_recycler_view.description'),
    period: t('about.open_source.vanilla_recycler_view.period'),
    link: '/projects/vanilla-recycler-view',
  },
];
---

<html lang={langCode}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="tw-flex tw-flex-col sm:tw-flex-row">
        <div class="tw-flex-shrink-0 tw-flex tw-justify-center">
          <img
            class="tw-rounded-full profile-image tw-max-w-[200px] tw-min-w-[200px] tw-min-h-[200px] tw-max-h-[200px]"
            src="/photos/profile.jpg"
            alt="Profile Image"
          />
        </div>
        <div class="tw-flex tw-flex-col sm:tw-ml-8 tw-mt-8 sm:tw-mt-0">
          <h5>{t("about.title")}</h5>
          <p class="tw-mt-4">
            <Fragment set:html={t("about.description")} />
          </p>
        </div>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4>{t("about.jump_to")}</h4>
        <div class="tw-mt-4 tw-flex tw-justify-center tw-gap-2 tw-flex-col sm:tw-flex-row sm:tw-gap-4">
          <a id="jump_to_profile" class="tw-cursor-pointer">
            {t("about.profile")}
          </a>
          <a id="jump_to_qualifications" class="tw-cursor-pointer">
            {t("about.qualifications")}
          </a>
          <a id="jump_to_experience" class="tw-cursor-pointer">
            {t("about.experience")}
          </a>
          <a id="jump_to_open_source" class="tw-cursor-pointer">
            {t("about.open_source")}
          </a>
        </div>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4 id="profile">{t("about.profile")}</h4>
        <IndentLine>
          <p>
            {t("about.profile.description")}
          </p>
          <ul class="tw-list-disc tw-list-inside">
            {
              links.map((link) => (
                <li class="tw-list-outside tw-ml-6">
                  <a href={link.url} target="_blank">
                    {link.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </IndentLine>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4 id="qualifications">{t("about.qualifications")}</h4>
        <IndentLine>
          <div>
            <p>
              {t("about.qualifications.description")}
            </p>
          </div>
          <div class="tw-mt-4">
            <h5>{t("about.qualifications.frontend")}</h5>
            <ul class="tw-list-disc tw-list-inside tw-mt-2">
              <li class="tw-list-outside tw-ml-6">
                {t("about.qualifications.frontend.1")}
              </li>
              <li class="tw-list-outside tw-ml-6">
                {t("about.qualifications.frontend.2")}
              </li>
              <li class="tw-list-outside tw-ml-6">
                {t("about.qualifications.frontend.3")}
              </li>
              <li class="tw-list-outside tw-ml-6">
                {t("about.qualifications.frontend.4")}
              </li>
            </ul>
          </div>
          <div class="tw-mt-4">
            <h5>{t("about.qualifications.others")}</h5>
          </div>
          <ul class="tw-list-disc tw-list-inside tw-mt-2">
            <li class="tw-list-outside tw-ml-6">
              {t("about.qualifications.others.1")}
            </li>
            <li class="tw-list-outside tw-ml-6">
              {t("about.qualifications.others.2")}
            </li>
          </ul>
          <h5 class="tw-mt-4">
            {t("about.qualifications.key_technology_keywords")}
          </h5>
          <div class="tw-flex tw-gap-2 tw-flex-wrap tw-mt-2">
            {badges.map((badge) => <TechBadge name={badge} />)}
          </div>
        </IndentLine>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4 id="experience">
          {t("about.experience")}
        </h4>
        <IndentLine>
          <div class="tw-list-disc tw-list-inside tw-flex tw-flex-col tw-gap-4">
            {
              experience.map((exp) => (
                <div class="tw-p-3 tw-bg-white-100 tw-rounded-lg">
                  <div class="tw-flex tw-justify-between">
                    <div>
                      <h4>
                        {exp.companyName},
                        <span class="tw-text-sm tw-text-black-700">
                          based in {exp.country}
                        </span>
                      </h4>
                      <p>{exp.position}</p>
                    </div>
                    <span>{exp.period}</span>
                  </div>
                  <ul class="tw-list-disc tw-list-inside tw-mt-2">
                    {exp.description.map((desc) => (
                      <li class="tw-list-outside tw-ml-6">{desc}</li>
                    ))}
                  </ul>
                </div>
              ))
            }
          </div>
        </IndentLine>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4 id="open_source">
          {t("about.open_source")}
        </h4>
        <IndentLine class="tw-flex tw-flex-col tw-gap-4">
          {
            opensourceExperience.map((exp) => (
              <div class="tw-p-3 tw-bg-white-100 tw-rounded-lg">
                <div class="tw-flex tw-justify-between">
                  <div>
                    <h5>{exp.projectName}</h5>
                    <p class="tw-mt-2">{exp.description}</p>
                  </div>
                  <span>{exp.period}</span>
                </div>
                <div class="tw-flex tw-justify-end">
                  <a href={langPath + exp.link}>{t("global.view_details")}</a>
                </div>
              </div>
            ))
          }
        </IndentLine>
      </div>
    </main>
    <Footer />
    <script>
      function scrollTo(id: string) {
        const element = document.getElementById(id);
        if (element) {
          element.scrollIntoView({ behavior: "smooth" });
        }
      }

      document
        .getElementById("jump_to_profile")!
        .addEventListener("click", () => scrollTo("profile"));
      document
        .getElementById("jump_to_qualifications")!
        .addEventListener("click", () => scrollTo("qualifications"));
      document
        .getElementById("jump_to_experience")!
        .addEventListener("click", () => scrollTo("experience"));
      document
        .getElementById("jump_to_open_source")!
        .addEventListener("click", () => scrollTo("open_source"));
    </script>
  </body>
</html>
