---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import IndentLine from '../components/IndentLine.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCurrentLangCode, getLangBasePath } from '../i18n/utils';

const currentLangCode = getCurrentLangCode(Astro.url);
const langPath = getLangBasePath(Astro.url);

const experience: {
  companyName: string;
  position: string;
  period: string;
  description: string[];
}[] = [
  {
    companyName: '스윗 코리아',
    position: '프론트엔드 / 개발자',
    period: '2021.10 - 2024.06',
    description: [
      '크로스 플랫폼(Web, IOS, Android) 텍스트 에디터 라이브러리 리드 개발',
      '크로스 플랫폼(Web, IOS, Android) 통합 인증 솔루션 리드 개발',
      '디자인 시스템 리드 개발',
      'ICU MessageFormat 기반의 다국어 지원 시스템 구축',
      '업무 관리 시스템 리뉴얼 및 대규모 성능 최적화',
    ],
  },
  {
    companyName: '이파피루스',
    position: '연구개발실 / 선임연구원',
    period: '2021.03 - 2021.10',
    description: ['디지타이저 펜 입력 기능 개발', '전자서명 서비스 연동'],
  },
  {
    companyName: '플레이오토',
    position: '글로벌 개발팀 / 풀스택 개발',
    period: '2019.09 - 2021.02',
    description: [
      '점진적 프레임워크 교체를 위한 멀티 프레임워크 아키텍쳐 개발',
      '고성능 데이터테이블 라이브러리 개발',
      'Ebay, Shopee, Lazada 등 다수의 해외 쇼핑몰 연동',
    ],
  },
  {
    companyName: '주식회사종달랩',
    position: '개발팀 / 매니저',
    period: '2019.01 - 2019.09',
    description: ['안드로이드'],
  },
];

const opensourceExperience: {
  projectName: string;
  description: string;
  period: string;
  link: string;
}[] = [
  {
    projectName: 'Edybara',
    description: 'ProseMirror 기반의 리치 텍스트 에디터 라이브러리',
    period: '2019.01 - 2019.09',
    link: '/projects/edybara',
  },
  {
    projectName: 'Qdocs',
    description: '영상미에 특화된 온라인 프레젠테이션 도구',
    period: '2019.01 - 2019.09',
    link: '/projects/qdocs',
  },
  {
    projectName: 'Vector Optimizer',
    description: '웹에서 자연스러운 펜 필기 입력을 위한 라이브러리',
    period: '2019.01 - 2019.09',
    link: '/projects/vector-optimizer',
  },
  {
    projectName: 'VanilaRecyclerView',
    description: 'UI 최적화를 위한 가상 스크롤 라이브러리',
    period: '2019.01 - 2019.09',
    link: '/projects/vanilla-recycler-view',
  },
];
---

<html lang={currentLangCode}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="tw-flex tw-flex-col sm:tw-flex-row">
        <div class="tw-flex-shrink-0 tw-flex tw-justify-center">
          <img
            class="tw-rounded-full profile-image tw-max-w-[200px] tw-min-w-[200px] tw-min-h-[200px] tw-max-h-[200px]"
            src="/photos/profile.jpg"
            alt="프로필 사진"
          />
        </div>
        <div class="tw-flex tw-flex-col sm:tw-ml-8 tw-mt-8 sm:tw-mt-0">
          <h5>창의적인 문제 해결을 위해 기술을 사용합니다.</h5>
          <p class="tw-mt-4">
            저는 소규모 웹사이트부터 대형 애플리케이션까지 확장성과 성능을 갖춘
            프론트엔드 프로젝트를 전문적으로 개발합니다.<br />Angular 와 React
            를 주로 활용하지만 문제 해결에 가장 효율적인 기술을 선정하는 것을
            선호합니다.<br />오픈소스에서 배운 만큼 다시 오픈소스에 기여하는
            것을 좋아하며 다양한 프로젝트를 진행하고 있습니다.<br />제게 연락이
            필요하다면 winetree94@gmail.com 으로 이메일을 보내주세요.
          </p>
        </div>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4>바로가기</h4>
        <div class="tw-flex tw-justify-center tw-gap-4">
          <a>프로필</a>
          <a>기술 능력</a>
          <a>경력</a>
          <a>오픈소스 활동</a>
        </div>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4>프로필</h4>
        <IndentLine>
          <p>
            저는 온라인에서 winetree94 라는 닉네임으로 활동하고 있습니다. 제가
            활동하고 있는 플랫폼들입니다.
          </p>
          <ul class="tw-list-disc tw-list-inside">
            <li>
              <a>Github</a>
            </li>
            <li>
              <a>NPM</a>
            </li>
            <li>
              <a>Docker Hub</a>
            </li>
            <li>
              <a>LinkedIn</a>
            </li>
            <li>
              <a>Reddit</a>
            </li>
            <li>
              <a>Blog (Old)</a>
            </li>
          </ul>
        </IndentLine>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4>기술</h4>
        <IndentLine>
          <div>
            <h5>프론트엔드</h5>
            <ul class="tw-list-disc tw-list-inside tw-mt-2">
              <li>
                Angular / React 기반의 웹 애플리케이션(CRA/SSG/SSR) 설계 및 개발
              </li>
              <li>ECMAScript / DOM API 기반의 프로젝트 설계 및 개발</li>
              <li>CommonJS / ES Module 모듈 라이브러리 개발</li>
            </ul>
          </div>
          <div class="tw-mt-4">
            <h5>기타</h5>
          </div>
          <ul class="tw-list-disc tw-list-inside tw-mt-2">
            <li>
              Cloudflare / AWS / Azure 등 클라우드 플랫폼 배포 시스템 구축 및
              비용 최적화
            </li>
            <li>Docker 기반의 컨테이너 배포 시스템 구축 및 관리</li>
          </ul>
        </IndentLine>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4>경력</h4>
        <IndentLine>
          <div class="tw-list-disc tw-list-inside tw-flex tw-flex-col tw-gap-4">
            {
              experience.map((exp) => (
                <div class="tw-p-3 tw-bg-white-100 tw-rounded-lg">
                  <div class="tw-flex tw-justify-between">
                    <div>
                      <h5>{exp.companyName}</h5>
                      <p class="tw-text-sm">{exp.position}</p>
                    </div>
                    <span>{exp.period}</span>
                  </div>
                  <ul class="tw-list-disc tw-list-inside tw-mt-2">
                    {exp.description.map((desc) => (
                      <li>{desc}</li>
                    ))}
                  </ul>
                </div>
              ))
            }
          </div>
        </IndentLine>
      </div>
      <div class="tw-flex tw-flex-col tw-mt-8">
        <h4>오픈소스 활동</h4>
        <IndentLine class="tw-flex tw-flex-col tw-gap-4">
          {
            opensourceExperience.map((exp) => (
              <div class="tw-p-3 tw-bg-white-100 tw-rounded-lg">
                <div class="tw-flex tw-justify-between">
                  <div>
                    <h5>{exp.projectName}</h5>
                    <p class="tw-mt-2">{exp.description}</p>
                  </div>
                  <span>{exp.period}</span>
                </div>
                <div class="tw-flex tw-justify-end">
                  <a href={langPath + exp.link}>자세히 보기</a>
                </div>
              </div>
            ))
          }
        </IndentLine>
      </div>
    </main>
    <Footer />
  </body>
</html>
