---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {
  GITHUB_URL,
  NPM_URL,
  EMAIL,
  LINKEDIN_URL,
  SITE_TITLES,
  SITE_DESCRIPTIONS,
  SITE_IMAGES,
} from "../consts";
import {
  getCurrentLangCode,
  getLangBasePath,
  useTranslation,
} from "../i18n/utils";
import { languages } from "../i18n/ui";

const currentLangPath = getLangBasePath(Astro.url);
const currentLangCode = getCurrentLangCode(Astro.url);
const t = useTranslation(currentLangCode);

const title = SITE_TITLES[currentLangCode];
const description = SITE_DESCRIPTIONS[currentLangCode];
const image = SITE_IMAGES[currentLangCode];

---

<!doctype html>
<html lang={currentLangCode}>
  <head>
    <BaseHead title={title} description={description} image={image} />
    <style lang="scss">
      main {
        margin: 80px auto;
      }

      .profile-image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: block;
        margin-bottom: 1rem;
      }

      .link-button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

        &:hover {
          border-radius: 50%;
          color: white;
          background-color: black;
        }

        &:active {
          transform: scale(0.9);
        }
      }
      .lang-link {
        &.disabled {
          pointer-events: none;
          color: #b3b3b3;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="tw-flex tw-flex-col tw-items-center">
      <img class="profile-image" src="/photos/profile.jpg" alt="" />
      <h5>winetree94</h5>
      <p class="tw-text-center tw-mt-4">
        <Fragment set:html={t("home.introduction")} />
      </p>
      <div class="tw-flex tw-mt-4">
        <a class="link-button" href={GITHUB_URL} target="_blank">
          <i class="ri-github-line"></i>
        </a>
        <a class="link-button" href={`mailto: ${EMAIL}`} target="_blank">
          <i class="ri-mail-line"></i>
        </a>
        <a class="link-button" href={NPM_URL} target="_blank">
          <i class="ri-npmjs-line"></i>
        </a>
        <a class="link-button" href={LINKEDIN_URL} target="_blank">
          <i class="ri-linkedin-box-line"></i>
        </a>
      </div>
      <div class="tw-flex tw-gap-2 tw-mt-4 tw-items-center tw-justify-center">
        {
          Object.values(languages).map((lang) => (
            <a
              href={lang.path || "/"}
              class={`lang-link tw-text-black ${lang.path === currentLangPath ? "disabled" : ""}`}
            >
              {lang.name}
            </a>
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
