---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Search from '../components/SearchDaemon.astro';
import BlogHeader from '../components/header/BlogHeader.astro';
import IconLink from '../components/icon/IconLink.astro';
import { EMAIL, GITHUB_URL, LINKEDIN_URL, NPM_URL, SITE_DESCRIPTIONS, SITE_IMAGES, SITE_TITLES } from '../consts';
import { languages } from '../i18n/ui';
import { getCurrentLangCode, getLangBasePath, useTranslation } from '../i18n/utils';

const currentLangPath = getLangBasePath(Astro.url);
const currentLangCode = getCurrentLangCode(Astro.url);
const t = useTranslation(currentLangCode);

const title = SITE_TITLES[currentLangCode];
const description = SITE_DESCRIPTIONS[currentLangCode];
const image = SITE_IMAGES[currentLangCode];
---

<!doctype html>
<html lang={currentLangCode}>
  <head>
    <BaseHead title={title} description={description} image={image} />
    <style lang="scss">
      .profile-image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: block;
        margin-bottom: 1rem;
      }
      .lang-link {
        &.disabled {
          pointer-events: none;
          color: #b3b3b3;
        }
      }
    </style>
  </head>
  <body>
    <BlogHeader />
    <main class="tw-flex tw-flex-col tw-items-center tw-my-[160px]">
      <img class="profile-image" src="/photos/profile.jpg" alt="" />
      <h5>winetree94</h5>
      <p class="tw-text-center tw-mt-4">
        <Fragment set:html={t("home.introduction")} />
      </p>
      <div class="tw-flex tw-mt-4">
        <IconLink icon="ri-github-line" href={GITHUB_URL} target="_blank" />
        <IconLink
          icon="ri-mail-line"
          href={`mailto: ${EMAIL}`}
          target="_blank"
        />
        <IconLink icon="ri-npmjs-line" href={NPM_URL} target="_blank" />
        <IconLink
          icon="ri-linkedin-box-line"
          href={LINKEDIN_URL}
          target="_blank"
        />
      </div>
      <div class="tw-flex tw-gap-2 tw-mt-4 tw-items-center tw-justify-center">
        {
          Object.values(languages).map((lang) => (
            <a
              href={lang.path || "/"}
              class={`lang-link tw-text-black ${lang.path === currentLangPath ? "disabled" : ""}`}
            >
              {lang.name}
            </a>
          ))
        }
      </div>
    </main>
    <Footer />
    <Search />
  </body>
</html>
