---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { getCurrentLangCode, getLangBasePath } from "../i18n/utils";

const langCode = getCurrentLangCode(Astro.url);
const langPath = getLangBasePath(Astro.url);
const posts = (await getCollection("projects"))
  .filter((post) => post.slug.startsWith(langCode))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<!doctype html>
<html lang={langCode}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      ul li a:hover h4,
      ul li a:hover .date {
        color: rgb(var(--accent));
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="tw-flex tw-flex-col">
        <div
          class="tw-p-8 tw-flex tw-flex-col tw-justify-center tw-items-center tw-mb-8"
        >
          <h5>별 건 아니지만 제가 만들었거나 만들고 있는 프로젝트들 입니다.</h5>
          <p class="tw-mt-4">
            저는 주로 업무나 일상에서의 문제를 해결하기 위해 프로젝트로
            생성합니다.
          </p>
        </div>
        {
          posts.length ? (
            <ul>
              {posts.map((post) => (
                <li>
                  <a
                    class="tw-flex tw-flex-col"
                    href={`${langPath}/projects/${post.slug.slice(3)}/`}
                  >
                    <img
                      width={720}
                      height={360}
                      src={post.data.heroImage}
                      alt=""
                    />
                    <h6 class="title tw-mt-4">{post.data.title}</h6>
                    <p class="date">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </a>
                </li>
              ))}
            </ul>
          ) : (
            <div class="tw-flex tw-justify-center">
              <p>앗! 아직 아무것도 없네요.</p>
            </div>
          )
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
