---
import BaseHead from "@/components/BaseHead.astro";
import BlogHeader from "@/components/header/BlogHeader.astro";
import type {GetStaticPaths, InferGetStaticParamsType, InferGetStaticPropsType} from "astro";
import {SUPPORTED_LANGUAGES} from "@/i18n/ui.ts";
import {ghost} from "@/lib/ghost.ts";

export const getStaticPaths = (async () => {
  const res = await Promise.all(Object.values(SUPPORTED_LANGUAGES).map(async lang => {
    const posts = await ghost.posts.browse({
      limit: 100,
      filter: `tag:${lang}+tag:blog`,
    });
    return {
      params: {
        lang: lang,
      },
      props: {
        posts: posts,
      }
    }
  }));
  return res.flat();
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

---
<html lang={Astro.params.lang}>
<head title="ds">
    <BaseHead title={'title'} description={'description'}/>
</head>
<body>
<BlogHeader/>
<main class="w-full max-w-full">
    <article class="markdown">
        <div class="text-black-800 max-w-[720px] m-auto">
            <div class="text-center mb-8">
                <div class="date">
                </div>
                <h1 class="my-4">{'title'}</h1>
                <hr/>
            </div>
          {Astro.props.posts.map((post) => (
            <div class="mb-12">
              <a href={`/${Astro.params.lang}/blog/${post.slug.replace(`${Astro.params.lang}-`, '')}`} class="text-2xl font-bold text-blue-600 hover:underline">
                {post.title}
              </a>
              <p class="text-gray-600">{new Date(post.published_at || '').toLocaleDateString()}</p>
              <p class="mt-2 text-gray-800">{post.excerpt}</p>
            </div>
          ))}
        </div>
    </article>
</main>
<!--<Footer />-->
<!--<SearchDaemon />-->
</body>
</html>
